@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#Univer__color {
  color: #02897A;
}

#Univer__bakcround {
  background-color: #02897A;
}

.header {
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.header .header__logo {
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header__logo p {
  font-size: 30px;
  color: #173A56;
  font-family: "Poppins", sans-serif;
}

.header__elements {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header__menus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 10px;
}

.header__menus > li {
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
}

div > img {
  padding-left: 30px;
  padding-top: 3px;
}

.main__hero {
  width: 1100px;
  display: flex;
}
.main__hero .main__about {
  width: 460px;
}
.main__hero .main__about .heading {
  padding-top: 170px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
.main__hero .main__about p {
  font-size: 18px;
  padding-top: 18px;
}
.main__hero .links {
  width: 460px;
  display: flex;
  padding-top: 45px;
}
.main__hero .links .links__import {
  display: flex;
  gap: 8.5px;
  width: 260px;
  justify-content: center;
}
.main__hero .links .links__import div {
  margin-top: 13px;
  display: block;
}
.main__hero .links .links__import img {
  margin-top: 10px;
}
.main__hero .links > .get {
  margin-top: 5px;
  padding: 15px 41px;
  border-radius: 4px;
  color: white;
}
.main__hero .main__img {
  width: 600px;
}

.main__product {
  padding-top: 115px;
  width: 1100px;
  position: relative;
}

.back__img {
  background-repeat: no-repeat;
  position: absolute;
  top: 350px;
  opacity: 0.5;
}

.main__pro__text {
  text-align: center;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 66px;
}

.pro__cards {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pro__card > h2 {
  width: 240px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.pro__card > p {
  padding-top: 30px;
  padding-bottom: 13px;
}

.card__btn {
  text-align: center;
}

.card__btn__link {
  text-align: center;
  margin-top: 30px;
  padding: 14px 33px;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

.main__services {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 250px;
  justify-content: space-between;
}

.services__menus {
  width: 40%;
  padding-bottom: 150px;
}
.services__menus .services__heading {
  font-size: 16px;
  padding: 8px 0px;
  color: #22343D;
  font-family: "Poppins", sans-serif;
}
.services__menus .services__header {
  font-size: 32px;
  color: #22343D;
  padding-bottom: 123px;
  font-family: "Poppins", sans-serif;
}
.services__menus .services__header1 {
  font-size: 32px;
  color: #22343D;
  font-family: "Poppins", sans-serif;
}
.services__menus .services__header2 {
  font-size: 32px;
  color: #22343D;
  font-family: "Poppins", sans-serif;
}

.services__logo {
  width: 40%;
}

.logoAndText {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px;
}

.main__easy {
  width: 1100px;
  background-image: url("/images/Bg2.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.main__easy h2 {
  padding-top: 50px;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.main__easy p {
  padding-top: 15px;
  text-align: center;
}

.aktiv > img {
  padding: 20px 25px;
}

.easy__btn {
  margin-top: 60px;
  padding: 15px 30px;
  border-radius: 4px;
  border: none;
  color: white;
}

.menu__content {
  padding-top: 150px;
  width: 1100px;
  padding-bottom: 150px;
}
.menu__content h2 {
  font-size: 34px;
}
.menu__content p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 32px;
}

.content__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content__card {
  width: 348px;
  height: 359px;
  box-shadow: 0px 0px 5px 0.5px;
  position: relative;
}
.content__card img {
  position: absolute;
  right: 0px;
}
.content__card .card-about {
  margin-top: 200px;
  margin-left: 25px;
}
.content__card .card-about p {
  padding-bottom: 12px;
}
.content__card .card-about .content-header {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.content__card .card-about .activ {
  color: #02897A;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
}

.menu__price {
  text-align: center;
  width: 1100px;
  padding-bottom: 150px;
}
.menu__price h2 {
  font-size: 34px;
  font-family: "Poppins", sans-serif;
}
.menu__price p {
  font-size: 16px;
}

.menu__clients {
  width: 1100px;
  padding-bottom: 150px;
}
.menu__clients h2 {
  font-size: 34px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.menu__clients .clients__text {
  font-size: 16px;
  text-align: center;
  padding-bottom: 50px;
}

.clients__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients__card {
  width: 327px;
  height: 256px;
  border: 1px solid black;
}
.clients__card img {
  padding-top: 28px;
}
.clients__card p {
  padding: 16px;
}

.menu__finish {
  width: 970px;
  display: flex;
  border-radius: 32px;
  margin-bottom: 150px;
}

.finish__header {
  width: 50%;
}
.finish__header h2 {
  font-size: 32px;
  color: white;
  padding: 50px;
}
.finish__header button {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  margin-left: 50px;
  border-radius: 4px;
}

.ciyt__finish {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
}

.menu__footer {
  width: 225px;
  align-items: center;
  gap: 10px;
}
.menu__footer span {
  width: 32px;
}

ul > li {
  text-decoration: none;
  list-style-type: none;
}

.finish__inp {
  width: 425px;
}

.finish__input {
  margin-top: 5px;
  padding: 10px 30px;
}

.finish__btn {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  border: none;
}/*# sourceMappingURL=style.css.map */